<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>新东方红包</title>
<link rel="stylesheet" type="text/css" href="style/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<script type="text/javascript">
</script>
</head>
<body> 
<img src="images/intro/i1.gif" width="100%">
<img src="images/intro/i2.gif" width="100%">
<img src="images/intro/i3.gif" width="100%">
<img src="images/intro/i4.gif" width="100%">
<img src="images/intro/i5.gif" width="100%">
<img src="images/intro/i6.gif" width="100%">
<img src="images/intro/i7.gif" width="100%">
</body>
</html>